<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('../partials/head'); %>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <form action="/create" method="POST">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Title</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Title of To Do List" name="title">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Todo List</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="content"></textarea>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Create a to do list!</button>
      </div>
      </form>
    <footer>
        <% include("../partials/footer") %>
    </footer>
    <script src="../public/creating"></script>
</body>
</html>